<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<h2>Создать нового пользователя</h2>

<!-- Форма отправляет POST-запрос на /users -->
<form th:action="@{/users}" th:object="${user}" method="post">
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" />
    <br/><br/>

    <label for="lastName">Фамилия:</label>
    <input type="text" th:field="*{lastName}" id="lastName" />
    <br/><br/>

    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" />
    <br/><br/>

    <input type="submit" value="Сохранить" />
</form>

<br/>
<a href="/users">Назад к списку</a>

</body>
</html>