<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users list</title>
</head>
<body>

<h1>Список пользователей</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <!-- Перебираем коллекцию "users", которую передал контроллер -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.lastName}">Lastname</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.username}">Username</td>
    </tr>
    </tbody>
</table>

<br>
<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>