<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <!--connecting Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet" crossorigin="anonymous">
</head>

<body class="bg-light">

<!--Dark cap navigation-->
<nav class="navbar navbar-dark bg-dark px-4">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">

            <!--Output of the current user`s email and roles-->
            <span th:text="${user.email}">email@example.com</span>
            <span>with roles: </span>
            <span th:text="${user.roles}">[ROLE]</span>
        </span>
        <form th:action="@{/logout}" method="post" class="d-inline">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--left bar navigation-->
        <nav class="col-md-2 d-md-block bg-white sidebar py-3 min-vh-100 px-0">
            <div class="list-group rounded-0">
                <!--button active for user-->
                <a href="#" class="list-group-item list-group-item-action active border-0 rounded-0">User</a>
            </div>
        </nav>

        <main class="col-md-10 ms-sm-auto px-md-4 py-4">
            <h1 class="mb-4 text-center">User information-page</h1>

            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <h5 class="mb-0">About user</h5>
            </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--Output current authorized user`s data -->
                                <tr th:object="${user}">
                                <td th:text="*{id}">123</td>
                                <td th:text="*{firstname}">Firstname</td>
                                <td th:text="*{lastname}">Lastname</td>
                                <td th:text="*{age}">Age</td>
                                <td th:text="*{email}">email.@gmail</td>
                                    <td>
                                <span th:each="role : *{roles}" th:text="${role.name + ' '}"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
        </main>
    </div>
    </div>

<!--connecting Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>